&[data-engrid-page-type="e-card"] {
  &[data-engrid-embedded] {
    background-color: #ffffff!important;

    .en__errorHeader,
    .en__errorList {
      display: none;
    }

    .en__component--advrow > div:not(.body-main) {
      display: none;
    }
  }
}
