&[data-engrid-gdcp="true"] {
  // transition styling - hide old opt in notices
  .en__field--emailAddress .en__field__notice,
  .en__field--phoneNumber2 .en__field__notice {
    display: none
  }

  // Force visibility of the new opt in fields, override any iX-hide classes
  .en__field [class*="en__field--engrid.gdcp"] {
    display: flex!important;
    flex-basis: 100%!important;
    margin-bottom: 0;

    .en__field__item {
      padding-bottom: 0;
    }

    label a {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
