// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="tnc"] {
  // TYPOGRAPHY DEFAULT
  --default_font-family: "Whitney A", "Whitney B", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --default_color: #1a1a1a;
  // --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  // --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: Chronicle Text G2 A, Chronicle Text G2 B, ui-serif, Georgia,
    Cambria, Times New Roman, Times, serif;
  // --h1_color: initial;
  --h1_font-size: 34px;
  // --h1_font-weight: initial;
  --h1_line-height: 1.24;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --p_color: initial;
  --p_font-size: 16px; // var(--root_font-size)
  // --p_font-weight: initial;
  --p_line-height: 1.88;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  --a_color: #007931;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  --a_color_hover: #1a1a1a;
  --a_text-decoration_hover: underline;

  // TYPOGRAPHY INPUT
  // --input_font-family: var(--default_font-family);
  --input_color: #1a1a1a;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  --input_background-color: #ffffff;
  // --input_border-width: 1px;
  --input_border-color: #949494;
  --input_border-radius: 0px;
  // --input_placeholder-color: var(--color_light-gray);
  // --input_box-shadow: inset 0 2px 2px -1px rgba(74, 74, 104, 0.1);

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  --input_padding: 1.5ch 2ch;

  // TYPOGRAPHY BUTTON
  // --button_font-family: var(--default_font-family);
  // --button_color: var(--color_white);
  --button_font-size: 14px;
  --button_font-weight: bold;
  // --button_line-height: initial;
  --button_background-color: #007931;
  // --button_border-width: 1px;
  // --button_border-color: var(--color_black);
  --button_border-radius: 0px;
  --submit__button_padding-top: 1rem;
  --submit__button_padding-bottom: 1rem;

  // TYPOGRAPHY BUTTON:HOVER
  // --button_color_hover: var(--button_color);
  // --button_background-color_hover: var(--color_black);
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  // --button_color_checked: var(--button_color_hover);
  // --button_background-color_checked: var(--button_background-color_hover);
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  // --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  // --recurring-frequency__button_count: 4;
  // --donation-amount__button_count: 4;
  // --give-by-select__button_count: 4;

  --engrid__body_padding: 0 115px;
  --click-to-expand__copy-area_height: 200px;
  --engrid__page_background-color: #f1f1f1;
  // --engrid__body-banner_background-color: #f1f1f1;
  // --engrid__page-backgroundImage-color: #f1f1f1;
}

/* Add your custom theme styles here */
//noinspection SassScssResolvedByNameOnly
[data-engrid-theme="tnc"] {
  @mixin until-mobile-l {
    // STYLES
  }

  @mixin from-mobile-l {
    // STYLES
  }

  @mixin simplified-header {
    // STLES
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @media (max-width: 425px) {
      @include until-mobile-l;
    }

    @media (min-width: 426px) {
      @include from-mobile-l;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  //.page-alert,
  //.content-header,
  //.body-headerOutside,
  //.body-footer,
  //.body-footerOutside,
  //&#en__pagebuilder .content-footerSpacer,
  //.content-preFooter,
  //.content-footer,
  //.page-backgroundImageOverlay {
  //  display: none !important;
  //}

  @media screen and (max-width: 805px) {
    --engrid__body_padding: 0 10vw;
  }

  &:not(#en__pagebuilder) {
    @media screen and (min-width: 1024px) {
      .body-banner {
        display: none;
      }
    }

    @media screen and (max-width: 1023px) {
      // Put the Body Banner at the top of the page
      #engrid > .en__component--advrow,
      form > .en__component--advrow {
        grid-template-rows:
          [page-start page-alert-start] min-content [page-alert-end content-header-start] min-content [content-header-end body-headerOutside-start] min-content [body-headerOutside-end body-banner-start] min-content [body-banner-end body-bannerOverlay-start] min-content [body-bannerOverlay-end body-header-start] min-content [body-header-end body-title-start] min-content [body-title-end body-top-start] min-content [body-top-end body-side-start] min-content [body-side-end body-main-start] min-content [body-main-end body-bottom-start] min-content [body-bottom-end body-footer-start] min-content [body-footer-end body-footerOutside-start] min-content [body-footerOutside-end content-footerSpacer-start] minmax(
            0,
            1fr
          )
          [content-footerSpacer-end content-preFooter-start] min-content [content-preFooter-end content-footer-start] min-content [content-footer-end page-backgroundImage-start] min-content [page-backgroundImage-end page-backgroundImageOverlay-start] min-content [page-backgroundImageOverlay-end page-end page-customCode-start] min-content [page-customCode-end];
      }

      .body-header img {
        margin-top: 0.75rem;
      }

      .body-title h1 {
        margin-top: 1rem;
      }

      .body-banner {
        padding-bottom: 1rem;
      }
    }
  }

  a {
    text-decoration-color: #0079314d;
  }

  @media screen and (min-width: 1024px) {
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] {
      .content-footerSpacer {
        --engrid__content-footerSpacer_background-color: #ffffff;
      }

      .page-backgroundImage {
        grid-column: rpc/pc;

        &:before {
          left: $one_col_body-column_max-width;
          right: 0;
          width: calc(100% - $one_col_body-column_max-width);
          background-position: center !important;
        }
      }
    }

    &:not(#en__pagebuilder)[data-engrid-layout="rightright1col"] {
      .content-footerSpacer {
        --engrid__content-footerSpacer_background-color: #ffffff;
      }

      .page-backgroundImage {
        grid-column: pc/lpc;

        &:before {
          left: 0;
          right: $one_col_body-column_max-width;
          width: calc(100% - $one_col_body-column_max-width);
          background-position: center !important;
        }
      }
    }
  }

  .body-header {
    img {
      margin-left: 0;
      margin-top: 2rem;
      max-width: 36vw;
    }
  }

  #step-indicator {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    .step {
      flex-basis: calc(100% / 3);
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      display: flex;
      flex-grow: 1;
      color: #cdcdcd;
      border-bottom: 4px solid #cdcdcd;
      padding-bottom: 1px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.68;
      &.current {
        color: #007931;
        border-bottom-color: #007931;
      }
    }
  }

  .en__mandatory > label {
    justify-content: flex-start !important;

    &:before {
      content: "*";
      margin-right: 0.5ch;
    }
  }

  .arrow .en__submit button,
  .arrow .en__submit a {
    text-transform: uppercase;
  }

  .arrow .en__submit button:after,
  .arrow .en__submit a:after {
    float: none;
    margin-left: 0.5ch;
    margin-right: 0;
    transition: margin 0.3s, background-color 0.3s;
  }

  .arrow .en__submit a:after {
    transform: rotate(90deg);
    content: "→";
    opacity: 0.9;
    display: inline-block;
    position: relative;
    left: 1ch;
    text-decoration: none;
  }

  .arrow .en__submit button:hover:after {
    margin-left: 2ch;
  }

  .asterisks-required {
    font-family: georgia, serif;
  }

  &:not(#en__pagebuilder) .body-top {
    padding-bottom: 1.8rem;

    .click-to-expand:not(.expanded) .click-to-expand-cta {
      margin-bottom: 1rem;
      margin-left: 0;
      background: none;
      width: auto;
      height: 10px;

      &:before {
        content: "Read more";
        font-family: var(--default_font-family);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.68;
        color: #007931;
        text-decoration: underline;
        text-decoration-color: #0079314d;
      }
    }
  }

  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    outline-color: #007931;
  }

  .en__submit {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 1rem;
  }

  // .page-backgroundImage .media-with-attribution {
  //   visibility: hidden;

  //   figattribution {
  //     visibility: visible;
  //   }
  // }

  &[data-engrid-page-background="image"] .page-backgroundImage figure.media-with-attribution {
    background-position: 50%;
    left: 575px;
    right: 0;
    width: calc(100% - 575px);
  }

  .media-with-attribution {
    figattribution {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      --media-attribution__background-color: rgb(255 255 255 / 80%);
      --media-attribution__color: rgb(26 26 26 / 80%);
      a {
        display: flex;
        height: 18px;
        min-width: 18px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    #floating-button {
      display: none;
    }
  }
  &:not(#en__pagebuilder) {
    .floating-button-label {
      display: none;
    }
  }
  &#en__pagebuilder {
    .floating-button-label p {
      box-sizing: border-box;
      overflow: visible;
      touch-action: manipulation;
      -webkit-appearance: none;
      border: var(--button_border-width) solid var(--button_border-color);
      border-radius: var(--button_border-radius);
      display: block;
      font-family: var(--button_font-family);
      font-weight: var(--button_font-weight);
      line-height: var(--button_line-height);
      padding: var(--button_padding);
      text-align: center;
      transition: background-color 0.2s ease-out, color 0.2s ease-out,
        border-color 0.2s ease-out;
      cursor: pointer;
      background-color: var(--submit__button_background-color);
      border-color: var(--submit__button_border-color);
      color: var(--submit__button_color);
      font-size: var(--submit__button_font-size);
      margin: 2rem 0 1rem;
      max-width: var(--submit__button_max-width);
      padding-bottom: var(--submit__button_padding-bottom);
      padding-top: var(--submit__button_padding-top);
      width: 100%;
      text-transform: uppercase;
    }
  }

  #floating-button {
    width: 100%;
    position: fixed;
    bottom: -200px;
    z-index: 5;
    padding: var(--engrid__body_padding);
    transition: bottom 500ms linear;
    &.show {
      bottom: 0;
    }

    .en__submit {
      padding-bottom: 0;
      border: none;
      position: relative;
      top: -51px;
      margin-bottom: -51px;
    }
  }
  [data-tippy-root] {
    max-width: calc(100vw - 72px);
  }

  @media screen and (max-width: 1023px) {
    &[data-engrid-layout="leftleft1col"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-body-banner="empty"][data-engrid-page-background="image"] .page-backgroundImage figure,
    &[data-engrid-layout="leftleft1col"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-page-background="video"] .page-backgroundImage figure,
    &[data-engrid-layout="rightright1col"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-body-banner="empty"][data-engrid-page-background="image"] .page-backgroundImage figure,
    &[data-engrid-layout="rightright1col"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-page-background="video"] .page-backgroundImage figure {
      position: static !important;
    }

    &[data-engrid-no-body-banner]:not([data-engrid-no-page-backgroundimage]) .page-backgroundImage {
      padding-bottom: 1rem;
    }
  }

  &:not(#en__pagebuilder) .click-to-expand:not(.expanded) .click-to-expand-text-wrapper {
    //noinspection CssInvalidFunction
    mask-image: linear-gradient(
      to bottom,
      black 15%,
      rgba(255, 255, 255, 0) calc(100% - var(--click-to-expand__cta-image_height))
    );
  }

  // @TODO - Move to ENgrid
  &:not(#en__pagebuilder) .page-backgroundImage {
    z-index: auto;
  }
}
